on: [push, pull_request, workflow_dispatch]

name: CI

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install dependencies"
        run: sudo apt-get install libudev-dev
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - run: cargo check --all-features

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Install dependencies"
        run: sudo apt-get install libudev-dev
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
      - run: cargo clippy -- -D warnings

  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest
          TARGET: x86_64-unknown-linux-gnu

        - os: ubuntu-latest
          TARGET: aarch64-unknown-linux-gnu
    steps:
    - name: Building ${{ matrix.TARGET }}
      run: echo "${{ matrix.TARGET }}"

    - uses: actions/checkout@master
    - name: Install dependencies
      run: sudo apt-get install libudev-dev
    - run: rustup target add --toolchain stable ${{ matrix.TARGET }}
    - run: cargo build --verbose --release --target=${{ matrix.TARGET }}
    - name: Build archive
      shell: bash
      run: |
        # Replace with the name of your binary
        binary_name="sepic-gui"

        dirname="$binary_name-${{ matrix.TARGET }}"
        mkdir "$dirname"
        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          mv "target/${{ matrix.target }}/release/$binary_name.exe" "$dirname"
        else
          mv "target/${{ matrix.target }}/release/$binary_name" "$dirname"
        fi

        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          7z a "$dirname.zip" "$dirname"
          echo "ASSET=$dirname.zip" >> $GITHUB_ENV
        else
          tar -czf "$dirname.tar.gz" "$dirname"
          echo "ASSET=$dirname.tar.gz" >> $GITHUB_ENV
        fi
    - uses: actions/upload-artifact@v4
      with:
        name: sepic-gui-${{ matrix.TARGET}}
        path: ${{ env.ASSET }}

  build-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: macos-latest
          TARGET: aarch64-apple-darwin

        - os: macos-latest-large
          TARGET: x86_64-apple-darwin
    steps:
    - name: Building ${{ matrix.TARGET }}
      run: echo "${{ matrix.TARGET }}"

    - uses: actions/checkout@master
    - run: rustup target add --toolchain stable ${{ matrix.TARGET }}
    - run: cargo build --verbose --release --target=${{ matrix.TARGET }}
    - name: Build archive
      shell: bash
      run: |
        # Replace with the name of your binary
        binary_name="sepic-gui"

        dirname="$binary_name-${{ matrix.TARGET }}"
        mkdir "$dirname"
        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          mv "target/${{ matrix.target }}/release/$binary_name.exe" "$dirname"
        else
          mv "target/${{ matrix.target }}/release/$binary_name" "$dirname"
        fi

        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          7z a "$dirname.zip" "$dirname"
          echo "ASSET=$dirname.zip" >> $GITHUB_ENV
        else
          tar -czf "$dirname.tar.gz" "$dirname"
          echo "ASSET=$dirname.tar.gz" >> $GITHUB_ENV
        fi
    - uses: actions/upload-artifact@v4
      with:
        name: sepic-gui-${{ matrix.TARGET}}
        path: ${{ env.ASSET }}

  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: windows-latest
          TARGET: x86_64-pc-windows-msvc
          EXTENSION: .exe

        - os: windows-latest
          TARGET: x86_64-pc-windows-gnu
          EXTENSION: .exe
    steps:
    - name: Building ${{ matrix.TARGET }}
      run: echo "${{ matrix.TARGET }}"

    - uses: actions/checkout@master
    - run: rustup target add --toolchain stable ${{ matrix.TARGET }}
    - run: cargo build --verbose --release --target=${{ matrix.TARGET }}
    - name: Build archive
      shell: bash
      run: |
        # Replace with the name of your binary
        binary_name="sepic-gui"

        dirname="$binary_name-${{ matrix.TARGET }}"
        mkdir "$dirname"
        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          mv "target/${{ matrix.target }}/release/$binary_name.exe" "$dirname"
        else
          mv "target/${{ matrix.target }}/release/$binary_name" "$dirname"
        fi

        if [ "${{ matrix.os }}" = "windows-latest" ]; then
          7z a "$dirname.zip" "$dirname"
          echo "ASSET=$dirname.zip" >> $GITHUB_ENV
        else
          tar -czf "$dirname.tar.gz" "$dirname"
          echo "ASSET=$dirname.tar.gz" >> $GITHUB_ENV
        fi
    - uses: actions/upload-artifact@v4
      with:
        name: sepic-gui-${{ matrix.TARGET}}
        path: ${{ env.ASSET }}
